body {
	--asc-ais-block-color: #000000;
	--asc-ais-block-bg-color: #ffffff;
}

div.asc-ais-block-wrapper {
	margin: 20px 0 40px 0;
}
div.asc-ais-block {
	padding-bottom: 20px;
	border-bottom: 1px solid var(--asc-ais-block-color);
	width: 100%;
}

div.asc-ais-block-excerpt-wrapper {
	margin: 0 0 20px 0;
	font-size: 90%;
}
div.asc-ais-block-excerpt-title {
	font-weight: bold;
}
div.asc-ais-block-excerpt {
}

div.asc-ais-block-summary-wrapper {
	margin: 0 0 20px 0;
}
div.asc-ais-block-summary-title {
	font-weight: bold;
}
div.asc-ais-block-summary {
}