body {
	--asc-ais-card-color: #000000;
	--asc-ais-card-bg-color: #f2f2f2;
}

div.asc-ais-card-wrapper {
	margin: 20px 0 40px 0;
}
div.asc-ais-card {
	width: 100%;
}

div.asc-ais-card-excerpt-wrapper {
	margin: 0 0 20px 0;
}
div.asc-ais-card-excerpt-title {
	font-weight: bold;
}
div.asc-ais-card-excerpt {
}

div.asc-ais-card-summary-wrapper {
	background-color: var(--asc-ais-card-bg-color);
	border-radius: 10px;
	padding: 20px;
	margin: 0 0 20px 0;
}
div.asc-ais-card-summary-title {
	font-weight: bold;
}
div.asc-ais-card-summary {
}