body {
	--asc-ais-foreground: #121212;
	--asc-ais-background: #f7f7f7;
	--asc-ais-card-foreground: #565656;
	--asc-ais-card-background: #ececec;
}

.asc-ais-margins {
	margin: 0 40px 40px 40px;
}

.asc-aid-block-style {
}

.asc-ais-writer-style {
	padding-left: 20px;
	border-left: 5px solid var(--asc-ais-foreground);
	opacity: 0.8;
}

.asc-aid-tab-style {
}
.asc-ais-tab {
	display: inline-block;
	background-color: var(--asc-ais-card-background);
	border: 1px solid var(--asc-ais-card-foreground);
	border-radius-top: 10px;
	border-bottom: none;
}
.asc-ais-tab-content {
	border: 1px solid var(--asc-ais-card-foreground);
	border-radius: 10px;
	width: 100%
}

.asc-aid-card-style {
	padding: 20px 40px;
	background-color: var(--asc-ais-card-background);
	border: 1px solid var(--asc-ais-card-foreground);
	border-radius: 10px;
	width: 100%
}
