body {
	--asc-ais-writer-color: #000000;
	--asc-ais-writer-bg-color: #ffffff;
}

div.asc-ais-writer-wrapper {
	margin: 20px 0 40px 0;
}
div.asc-ais-writer {
	padding-bottom: 20px;
	border-bottom: 1px solid var(--asc-ais-block-color);
	width: 100%;
}

div.asc-ais-writer-excerpt-wrapper {
	margin: 0 0 20px 0;
	font-size: 90%;
}
div.asc-ais-writer-excerpt-title {
	font-weight: bold;
}
div.asc-ais-writer-excerpt {
}

div.asc-ais-writer-summary-wrapper {
	border-left: 2px solid var(--asc-ais-writer-color);
	margin: 0 0 20px 0;
	padding-left: 20px;
}
div.asc-ais-writer-summary-title {
	font-weight: bold;
}
div.asc-ais-writer-summary {
}